<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
    <resultMap id="userResultMap" type="UserAlias">
        <id column="id" property="id"/>
        <result column="open_id" property="open_id"/>
        <result column="create_time" property="create_time"/>
        <result column="token" property="token"/>
    </resultMap>
    <!--新增用户-->
    <insert id="addUser" parameterType="pd">
        INSERT  INTO
        jkl_user
        (
        open_id ,
        create_time ,
        token
        )
        values(
          #{openid},
          now(),
          md5(concat(#{openid},"SSDD0725"))
        )
    </insert>


    <insert id="addUserInfo" parameterType="pd">
        INSERT  INTO
        jkl_userinfo(
          open_id,
          nickname,
          province,
          city,
          country,
          headimgurl,
          unionid
        )VALUES (
        #{openid},
        #{nickname},
        #{province},
        #{city},
        #{country},
        #{headimgurl},
        #{unionid}
        )

    </insert>
    <!---->
    <delete id="deleteById" parameterType="UserAlias" flushCache="false">
        DELETE FROM
        jkl_user
        WHERE
        id=#{id}
    </delete>

    <select id="findByOpenId" parameterType="pd" resultType="pd">
        SELECT
        id,
        open_id,
        create_time,
        token
        FROM
         jkl_user
        WHERE
        open_id=#{openid}
    </select>

    <select id="findOpenIdById"  parameterType="String" resultMap="userResultMap">
        SELECT
        *
        FROM
        jkl_user
        WHERE
        id=#{uid}
    </select>

    <select id="findQueue" parameterType="pd" resultType="pd">
       select
       i.headimgurl,
       i.nickname
       from
       jkl_userinfo i
       WHERE
       i.open_id=(select u.open_id from jkl_user u WHERE u.id=#{uid})
    </select>
</mapper>