<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Store">


    <select id="findById" parameterType="pd" resultType="pd">
        SELECT
        *
        FROM
        jkl_store
        WHERE
        id=#{id}
    </select>

    <select  id="findPrice" parameterType="pd" resultType="pd">
        SELECT
        *
        FROM
        jkl_price
        WHERE
        store_id=#{store_id}
    </select>
</mapper>